@using ASPNETCoreDbFirst.DbModels;


@{
    ViewBag.Title = "Create";
}
<center>
<h2>Create</h2>

<table border="1">
    <tr>
        <th>OrderNumber</th>
        <th>CustomerId</th>
        <th>OrderDate</th>
        <th>SubTotal</th>
        <th>Discount</th>
        <th>ShippingFee</th>
        <th>NetAmount</th>
        <th>StatusId</th>
    </tr>
</table>
</center>